<div class="container">
  <div class="circle" id="circleId"></div>
  <div class="modal" id="modalId">
    <div class="modal1">
      <div>
        <p>HTML</p>
        <div id="skill-bar0"></div>
      </div>
      <div>
        <p>CSS</p>
        <div id="skill-bar1"></div>
      </div>
      <div>
        <p>JavaScript</p>
        <div id="skill-bar2"></div>
      </div>
      <div>
        <p>PHP</p>
        <div id="skill-bar3"></div>
      </div>
      <div>
        <p>SQL</p>
        <div id="skill-bar4"></div>
      </div>
    </div>
    <div class="modal2">
      <div>
        <p>TypeScript</p>
        <div id="skill-bar5"></div>
      </div>
      <div>
        <p>Angular</p>
        <div id="skill-bar6"></div>
      </div>
      <div>
        <p>NodeJs</p>
        <div id="skill-bar7"></div>
      </div>
      <div>
        <p>Git</p>
        <div id="skill-bar8"></div>
      </div>
      <div>
        <p>MongoDB</p>
        <div id="skill-bar9"></div>
      </div>
    </div>
  </div>
</div>